<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Rock, Paper Scissors!</title>
</head>
<body>

    <h1>じゃんけん</h1>

    <div id="buttons">
        <button data-hand="グー">グー</button>
        <button data-hand="チョキ">チョキ</button>
        <button data-hand="パー">パー</button>
    </div>

    <div id="result" style="margin-top: 20px;"></div>

</body>
</html>