<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <%= link_to "数取器", controller: "counter", action: "index" %>
    <%= link_to "じゃんけん", controller: "roshambo", action: "index" %>
    <%= link_to "別のページへ", about_path %>
</body>
</html>